.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.input-all-text {
    width: 80%;
    resize: none;
    height: 100px;
}

.font-options {
    width: fit-content;
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    justify-content: center;
    background-color: white;
    padding: 5px;
}

.font-item {
    margin: 0 5px;
}

.btn-option-font {
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    outline: none;
    border-radius: 3px;
}

.input-font-item {
    height: 21px;
    padding: 0px;
    margin: 0;
    outline: none;
}

.option-font-item {
    height: 25px;    
}

.label-option-img {
    border: 1px solid #ddd;
    border-radius: 3px;
    cursor: pointer;
    padding: 8px;
    align-self: center;
}

.btn-option-font:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.div-block {
    width: 80%;
    word-wrap: break-word;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
}

.div-block:hover {
    border: 1px solid #555;
}

.div-text {
    width: 100%;
    height: 100%;
}

.btn-remove-text {
    border: none;
    position: absolute;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
    background-color: #999;
    color: #ddd;
    font-size: 7pt;
    width: 20px;
    height: 20px;
    z-index: 5;
}

.div-block .btn-remove-text {
    visibility: hidden;
}

.div-block:hover .btn-remove-text {
    visibility: visible;
}

.btn-remove-text:hover {
    transform: scale(1.1);
    cursor: pointer;   
}

.photos-added {
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}